<div class="container pl-2">
  <div class="mt-4">
    <h1>My tasks</h1>
    <ul class="list-unstyled">
    <% @tasks.each do |task| %>
      <li class="text-secondary"><%= link_to "#{task.title}", task_path(task) %></li>
      <% end %>
    </ul>
    <%= link_to "Add a new task", new_task_path %>
  </div>
</div>
